In [1]:
list = [11, 22, 33]

In [3]:
list

[11, 22, 33]

<table align='left'>
<tr><td>11</td><td>22</td><td>33</td><tr>
<tr><td>0</td><td>1</td><td>2</td><tr>
 </table>

In [4]:
list[1]

22

In [5]:
list[3]

IndexError: list index out of range

In [6]:
for i in list:
    print(i)

11
22
33

In [7]:
len(list)

3

In [10]:
for i in range(0, len(list)):
    print (i, list[i])

0 11
1 22
2 33

In [11]:
list[1] = 95
print(list[1])

95

In [12]:
list.append(44)

In [13]:
list

[11, 95, 33, 44]

In [14]:
list.append('four')

In [15]:
list

[11, 95, 33, 44, 'four']

In [16]:
list.pop(2) # removes the element in position 2 starting with 0

33

In [17]:
list

[11, 95, 44, 'four']

In [18]:
list.pop(3)

'four'

In [19]:
list

[11, 95, 44]

In [21]:
list.remove(95) # removes by value

In [22]:
list

[11, 44]

In [25]:
# Merging two lists: 
# Adding a List to a List: extend

list = [1, 2, 3]
list2 = [4, 5, 6]

list.extend(list2)
list

[1, 2, 3, 4, 5, 6]

In [26]:
# Do not confuse append with extend

list = [1, 2, 3]
list2 = [4, 5, 6]

list.append(list2)
list

[1, 2, 3, [4, 5, 6]]

In [27]:
# Zipping lists (Working throw two lists at the same time)

list = [1, 2, 3]
list2 = [4, 5, 6]

for x, y in zip(list, list2):
    print(x, ", ", y)

1 ,  4
2 ,  5
3 ,  6

In [28]:
x = [10,20,30]
y = x
x[1] = 42
print(y)

[10, 42, 30]